/*
 * Copyright (c) 2026 RAKwireless Technology Limited
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 * RAK3162 hardware test base overlay
 */

/ {
	aliases {
		smtc-watchdog = &wdt31;
	};

	/* GRTC LF monitor: MCU P2.06 (silk GPIO4), see AT+TEST=GRTC */
	lf_monitor {
		compatible = "gpio-leds";
		lf_mon_out: lf_mon_out {
			gpios = <&gpio2 6 GPIO_ACTIVE_HIGH>;
		};
	};
};

&radio {
	status = "okay";
};

&ieee802154 {
	status = "disabled";
};

&bt_hci_controller {
	status = "okay";
};

&wdt31 {
	status = "okay";
};